<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/image-grid_3.css') }}" rel="stylesheet">
</head>

<body>
    <div class="section">
        <ul class="grid">
            <li>
                <table class="box img-1" style="height:225; width:225; overflow-y:scroll; display: block;">
                    <p style="text-align:center"> TEST</p>
                    <tr>
                        <th>NAME</th>
                        <th>RUNTIME</th>
                        <th>STATUS</th>
                    </tr>

                    {% for item in data_1 %}
                    <tr>
                        <TD class="c1">{{item.build_name}}</TD>
                        <TD class="c2">{{item.run_time}}</TD>
                        <TD class="c3"><SPAN>{{item.status}}</SPAN></TD>
                    </tr>
                    {% endfor %}
                </table>
            </li>
            <li>
                <table class="box img-1" style="height:225; width:225; overflow-y:scroll; display: block;">
                    <p style="text-align:center">TEST 2</p>
                    <tr>
                        <th>NAME</th>
                        <th>RUNTIME</th>
                        <th>STATUS</th>
                    </tr>

                    {% for item in data_2 %}
                    <TR>
                        <TD class="c1">{{item.build_name}}</TD>
                        <TD class="c2">{{item.run_time}}</TD>
                        <TD class="c3"><SPAN>{{item.status}}</SPAN></TD>
                    </TR>
                    {% endfor %}
                </table>
            </li>
            <li>
                <table class="box img-1" style="height:225; width:225; overflow-y:scroll; display: block;">
                    <p style="text-align:center">TEST 3</p>
                    <tr>
                        <th>NAME</th>
                        <th>RUNTIME</th>
                        <th>STATUS</th>
                    </tr>

                    {% for item in data_1 %}
                    <tr>
                        <TD class="c1">{{item.build_name}}</TD>
                        <TD class="c2">{{item.run_time}}</TD>
                        <TD class="c3"><SPAN>{{item.status}}</SPAN></TD>
                    </tr>
                    {% endfor %}
                </table>
            </li>
            <li>
                <table class="box img-1" style="height:225; width:225; overflow-y:scroll; display: block;">
                    <p style="text-align:center">TEST 4</p>
                    <tr>
                        <th>NAME</th>
                        <th>RUNTIME</th>
                        <th>STATUS</th>
                    </tr>

                    {% for item in data_2 %}
                    <TR>
                        <TD class="c1">{{item.build_name}}</TD>
                        <TD class="c2">{{item.run_time}}</TD>
                        <TD class="c3"><SPAN>{{item.status}}</SPAN></TD>
                    </TR>
                    {% endfor %}
                </table>
            </li>
            <li>
                <table class="box img-1" style="height:225; width:225; overflow-y:scroll; display: block;">
                    <p style="text-align:center">TEST 5</p>
                    <tr>
                        <th>NAME</th>
                        <th>RUNTIME</th>
                        <th>STATUS</th>
                    </tr>

                    {% for item in data_1 %}
                    <tr>
                        <TD class="c1">{{item.build_name}}</TD>
                        <TD class="c2">{{item.run_time}}</TD>
                        <TD class="c3"><SPAN>{{item.status}}</SPAN></TD>
                    </tr>
                    {% endfor %}
                </table>
            </li>
        </ul>
    </div>





    </ul>



</body>