/* properties for entire grid container */
.section {
	max-width: 1500px;
	margin: 0 auto;
	height: 100px
	/* padding: 6% 2%; */
}

.grid {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	/* text-align: center; */
	/* width: 50%; */
}

.grid li {
	width: 200px; /* grid box size */
	height: auto; /* grid box size */
	display: inline-block;
	margin: 20px; /* space between images */
}

/* Responsive Portrait Photo Size */
.portrait {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.img-1 {
    padding: 1px;
    border: 3px solid #021a40;
}

.box {
    height:225;
    width:225;
    overflow-y:scroll;
    display: block;
}

tr:nth-child(even) {
    background-color: bisque;
}
