{% from 'macros.html' import table_macro_auction %}

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#test').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/auction-db-refresh',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>

    <div class="button">
        <form class="button">
            <a href=# id=test><button class='btn btn-default'>Refresh DB</button></a>
            <!-- <div>Last refreshed: 8:42</div> -->
        </form>
    </div>

    <div>
        <h2 class="dashboard-title">Watch Dashboard: Auctions</h2>
    </div>

    <div class="section">
        <ul class="grid">
            {{ table_macro_auction("Zenith", zenith) }}
            {{ table_macro_auction("Sinn", sinn) }}
            {{ table_macro_auction("Jaeger LeCoultre", jaeger_lecoultre) }}
            {{ table_macro_auction("Breguet", breguet) }}
            {{ table_macro_auction("Girard Perregaux", girard_perregaux) }}
            {{ table_macro_auction("Chopard", chopard) }}
            {{ table_macro_auction("Universal Geneve", universal_geneve) }}
            {{ table_macro_auction("IWC", iwc) }}
            {{ table_macro_auction("Vacheron Constantin", vacheron_constantin) }}
            {{ table_macro_auction("Omega", omega) }}
            {{ table_macro_auction("Nomos", nomos) }}
            {{ table_macro_auction("Bell & Ross", bell_and_ross) }}
            {{ table_macro_auction("Breitling", breitling) }}
            {{ table_macro_auction("Cartier", cartier) }}
            {{ table_macro_auction("Tudor", tudor) }}
            {{ table_macro_auction("Grand Seiko", grand_seiko) }}
            {{ table_macro_auction("Longines", longines) }}
            {{ table_macro_auction("Parmigiani", parmigiani) }}
            {{ table_macro_auction("Piaget", piaget) }}
            {{ table_macro_auction("Porsche Design", porsche_design) }}
            {{ table_macro_auction("Glashutte Original", glashutte_original) }}
            {{ table_macro_auction("Alain Silberstein", alain_silberstein) }}
            {{ table_macro_auction("Alpina", alpina) }}
            {{ table_macro_auction("Bremont", bremont) }}
            {{ table_macro_auction("Carlo Ferrara", carlo_ferrara) }}
            {{ table_macro_auction("Concord", concord) }}
            {{ table_macro_auction("Dubey Schaldenbrand", dubey_schaldenbrand) }}
            {{ table_macro_auction("Hamilton", hamilton) }}
            {{ table_macro_auction("Ikepod", ikepod) }}
            {{ table_macro_auction("Jaquet Droz", jaquet_droz) }}
            {{ table_macro_auction("Jean D'Eve", jean_d_eve) }}
            {{ table_macro_auction("Rado", rado) }}
            {{ table_macro_auction("Sevenfriday", sevenfriday) }}
            {{ table_macro_auction("Ulysse Nardin", ulysse_nardin) }}
            {{ table_macro_auction("Vulcain", vulcain) }}
            {{ table_macro_auction("Zodiac", zodiac) }}
        </ul>
    </div>
</body>
