{% from 'macros.html' import table_macro_bit %}

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#test').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/bit-db-refresh',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>

    <div class="button">
        <form class="button">
            <a href=# id=test><button class='btn btn-default'>Refresh DB</button></a>
            <!-- <div>Last refreshed: 8:42</div> -->
        </form>
    </div>

    <div>
        <h2 class="dashboard-title">Watch Dashboard: Buy it Now</h2>
    </div>

    <div class="section">
        <ul class="grid">
            {{ table_macro_bit("Zenith", zenith) }}
            {{ table_macro_bit("Sinn", sinn) }}
            {{ table_macro_bit("Jaeger LeCoultre", jaeger_lecoultre) }}
            {{ table_macro_bit("Breguet", breguet) }}
            {{ table_macro_bit("Girard Perregaux", girard_perregaux) }}
            {{ table_macro_bit("Chopard", chopard) }}
            {{ table_macro_bit("Universal Geneve", universal_geneve) }}
            {{ table_macro_bit("IWC", iwc) }}
            {{ table_macro_bit("Vacheron Constantin", vacheron_constantin) }}
            {{ table_macro_bit("Omega", omega) }}
            {{ table_macro_bit("Nomos", nomos) }}
            {{ table_macro_bit("Bell & Ross", bell_and_ross) }}
            {{ table_macro_bit("Breitling", breitling) }}
            {{ table_macro_bit("Cartier", cartier) }}
            {{ table_macro_bit("Tudor", tudor) }}
            {{ table_macro_bit("Grand Seiko", grand_seiko) }}
            {{ table_macro_bit("Longines", longines) }}
            {{ table_macro_bit("Parmigiani", parmigiani) }}
            {{ table_macro_bit("Piaget", piaget) }}
            {{ table_macro_bit("Porsche Design", porsche_design) }}
            {{ table_macro_bit("Glashutte Original", glashutte_original) }}
            {{ table_macro_bit("Alain Silberstein", alain_silberstein) }}
            {{ table_macro_bit("Alpina", alpina) }}
            {{ table_macro_bit("Bremont", bremont) }}
            {{ table_macro_bit("Carlo Ferrara", carlo_ferrara) }}
            {{ table_macro_bit("Concord", concord) }}
            {{ table_macro_bit("Dubey Schaldenbrand", dubey_schaldenbrand) }}
            {{ table_macro_bit("Hamilton", hamilton) }}
            {{ table_macro_bit("Ikepod", ikepod) }}
            {{ table_macro_bit("Jaquet Droz", jaquet_droz) }}
            {{ table_macro_bit("Jean D'Eve", jean_d_eve) }}
            {{ table_macro_bit("Rado", rado) }}
            {{ table_macro_bit("Sevenfriday", sevenfriday) }}
            {{ table_macro_bit("Ulysse Nardin", ulysse_nardin) }}
            {{ table_macro_bit("Vulcain", vulcain) }}
            {{ table_macro_bit("Zodiac", zodiac) }}
        </ul>
    </div>
</body>
