{% macro table_macro(title, build) %}
    <li>
        <table class="box img-1" style="height:225; width:225; overflow-y:scroll; display: block;">
            <p style="text-align:center; margin-top: 5;"> <b>{{ title }}</b></p>

            {% for item in build %}
            <tr>
                <td class="c1"><a href="{{ item.url }}">{{item.brand}} <a/></td>
                <td class="c2">{{item.price}} <br>{{item.bids}} <br>{{item.time_left}}</td>
            </tr>
            {% endfor %}
        </table>
    </li>
{% endmacro %}
